.blog,
.archive,
.search {

  .entry {
    position: relative;
    margin-top: $baseline-height * 1.25;

    &:first-child {
      margin-top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -$column * 3 * 1.2;
      right: -$column * 3 * 1.2;
      height: 1px;
      background: $color-gray-94;
    }
  }
  .post-content {
    padding-bottom: $baseline-height / 4;
  }
  .infinite-wrap {

    .entry {

      &:first-child {
        margin-top: 3em;
      }
    }
  }
}
.more-link-wrapper {
  margin: $baseline-height 0;
}
.sticky-status {

  span {
    @extend %twelve-pixels;
    display: inline-block;
    padding: 2px 6px;
    border: solid 1px $color-gray-90;
    border-radius: 3px;
  }
}

@media all and (min-width: $nine-hundred) {

  .blog,
  .archive,
  .search {

    .entry {

      &:after {
        left: -$column * 3 * 1.9;
        right: -$column * 3 * 1.9;
      }
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .blog,
  .archive,
  .search {

    .entry {
      margin-top: $baseline-height * 2;
    }
    .post-content {
      padding-bottom: $baseline-height;
    }
  }
}