.blog,
.archive,
.search {

  .post {
    position: relative;
    margin-top: $baseline-height * 1.25;

    &:first-child {
      margin-top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -$column * 3 * 1.2;
      right: -$column * 3 * 1.2;
      height: 1px;
      background: $color-gray-94;
    }
  }
  .post-content {
    padding-bottom: $baseline-height / 4;
  }
}

@media all and (min-width: $nine-hundred) {

  .blog,
  .archive,
  .search {

    .post {

      &:after {
        left: -$column * 3 * 1.9;
        right: -$column * 3 * 1.9;
      }
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .blog,
  .archive,
  .search {

    .post {
      margin-top: $baseline-height * 2;
    }
    .post-content {
      padding-bottom: $baseline-height;
    }
  }
}