div.bbp-breadcrumb {
  display: inline-block;
  float: none;
}
#subscription-toggle {
  margin-left: 6px;
}
.bbp-reply-author a {
  border: none;
}
span.bbp-admin-links,
span.bbp-admin-links a,
.bbp-reply-header a.bbp-reply-permalink {
  color: $color-gray-40;
}