.site-footer {
  position: relative;
  clear: both;
  padding: $baseline-height / 2 $column * 3;
  background: $color-gray-94;

  span {
    @extend %twelve-pixels;
  }
}

@media all and (min-width: $nine-hundred) {

  .site-footer {
    padding-left: $column * 14;
  }
}