.site-footer {
  position: relative;
  z-index: 19;
  clear: both;
  padding: $baseline-height / 2 $column * 3;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-gray-94;
    z-index: -1;
  }

  span {
    @extend %twelve-pixels;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: $color-gray-20;
  border: none;
  color: #fff;
  padding: 9px 0;
  width: 60px;
  transition: background 0.2s, transform 0.3s;

  &.visible {
    transform: translateY(-45px);
  }
  &:hover {
    cursor: pointer;
    background: $color-gray-40;

    i {
      transform: translateY(-4px);
    }
  }
  i {
    font-size: 21px;
    transition: transform 0.2s;
  }
}

@media all and (min-width: $nine-hundred) {

  .site-footer {
    padding-left: $column * 14;

    &:after {
      right: 12px;
      left: 12px;
    }
    span {
      margin-left: -12px;
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .site-footer {

    &:after {
      right: 24px;
      left: 24px;
    }
    span {
      margin-left: -24px;
    }
  }
}