.title-container {
  float: left;
}
.site-title {

  a {
    @extend %lighten-link;
  }
}
.tagline {
  @extend %twelve-pixels;
  color: $color-gray-40;
  margin: 0;
}
.logo {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media all and (min-width: $eight-hundred) {

  .site-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
}

@media all and (min-width: $one-thousand) {

  .site-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}