.post-title {

  a {
    @extend %lighten-link;
  }
}
.post-byline {

  span {
    @extend %twelve-pixels;
  }
}
.post-header {
  margin-bottom: $baseline-height;
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  margin: $baseline-height 0;
  overflow: hidden;
  outline: solid 3px white;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    border: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    &:focus {

      &:after {
        opacity: 0.2;
      }
    }
  }
  > img,
  > a > img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &.no-object-fit {
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;

      // positioning
      top: 50%;
      right: 50%;
      left: auto;
      transform: translateX(50%) translateY(-50%);
    }
  }
}
.post-content {
  margin-top: $baseline-height;

  iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.post-categories {
  font-style: italic;
}
.post-tags {
  margin: $baseline-height 0 $baseline-height *.75;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 $baseline-height / 2 $baseline-height / 4 0;
  }
  a {
    @extend %twelve-pixels;
    display: inline-block;
    padding: 8px 12px;
    border: solid 1px $color-gray-90;
    border-radius: 3px;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      border-color: $color-blue;
    }
  }
}
.further-reading {
  position: relative;
  margin: $baseline-height * 1.25 0;
  padding: $baseline-height 0 $baseline-height * 1.25;

  .previous {
    margin-bottom: $baseline-height;
  }
  span {
    @extend %twelve-pixels;
    display: block;
    font-style: italic;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -$column * 3 * 1.2;
    right: -$column * 3 * 1.2;
    height: 1px;
    background: $color-gray-94;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}

@media all and (min-width: $six-hundred) {

  .post-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
  .further-reading {

    div {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    .previous {
      margin-bottom: 0;
    }
    .next {
      text-align: right;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .post-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}

@media all and (min-width: $nine-hundred) {

  .featured-image {
    left: -$column * 3 * 1.8947;
    width: 100% + ($column * 3 * 1.8597);
    padding-bottom: 57.75%;
  }
  .further-reading {

    &:before,
    &:after {
      left: -$column * 3 * 1.9;
      right: -$column * 3 * 1.9;
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .post-header {
    margin-bottom: $baseline-height * 2;
  }
  .featured-image {
    margin: $baseline-height * 1.5 0;
  }
  .post-content {
    margin-top: $baseline-height * 1.5;
  }
  .further-reading {
    margin: $baseline-height * 2 0;
    padding: $baseline-height * 1.5 0;
  }
}