.main-sidebar {
  background: white;
  padding: 0 $column * 3;

  &:after {
    @include clearfix;
  }
}
.sidebar-inner {
  padding: $baseline-height * 1.5 0;
}
.sidebar-primary-container {
  max-height: 0;
  overflow: hidden;

  &.open {
    max-height: none;
  }
}
.sidebar-primary {
  margin-top: $baseline-height / 2;
  padding-bottom: $baseline-height / 2;
}

@media all and (min-width: $seven-hundred) and (max-width: 56.1875em) {

  .sidebar-primary {

    .widget {
      width: 46%;
      float: left;
      clear: left;

      &:nth-child(even) {
        float: right;
        clear: none;
      }
    }
    &:after {
      @include clearfix;
    }
  }
}
@media all and (min-width: $nine-hundred) {

  .main-sidebar {
    transform: translateZ(0);
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    min-height: 100%;
    min-height: calc(100% - 48px);
    width: $column * 11;
    padding: 0 $column;

    &.fixed-bottom {
      position: fixed;
      top: auto;
      bottom: 0;
    }
    &.fixed-top {
      position: fixed;
      top: 0;
      bottom: auto;
    }
    &.fixed {
      position: fixed;
      top: 0;
    }
  }
  .logged-in .main-sidebar.fixed-top {
    top: 32px;
  }
  .sidebar-inner {
    padding: $baseline-height * 1.5 0;
  }
  .sidebar-primary-container {
    max-height: none;
  }
}

@media all and (min-width: $one-thousand) {

  .main-sidebar {
    min-height: calc(100% - 36px);
    margin: $baseline-height / 2 0 0 $baseline-height / 2;
    width: calc(30.5558% - 24px);

    &.fixed-top {
      top: -12px;
    }
  }
  .logged-in .main-sidebar.fixed-top {
    top: 20px;
  }
}
@media all and (min-width: $eleven-hundred) {

  .main-sidebar {
    min-height: calc(100% - 48px);
    margin: $baseline-height 0 0 $baseline-height;
    width: calc(30.5558% - 48px);
    padding: 0 $column * 1.5;

    &.fixed-top {
      top: -24px;
    }
  }
  .logged-in .main-sidebar.fixed-top {
    top: 8px;
  }
  .sidebar-inner {
    padding: $baseline-height * 2 0;
  }
  .sidebar-primary {
    margin-top: $baseline-height;
  }
}

@media all and (min-width: 1340px) {

  // this way width/padding don't increase when fixed positioned
  .main-sidebar {
    width: 361px;
    padding: 0 56px;
  }
}