.main-sidebar {
  background: white;
  padding: $baseline-height * 1.5 $column * 3;

  &:after {
    @include clearfix;
  }
}

@media all and (min-width: $nine-hundred) {

  .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    min-height: calc(100% - 48px);
    width: $column * 11;
    padding: $baseline-height * 1.5 $column;
  }
}

@media all and (min-width: $one-thousand) {

  .main-sidebar {
    min-height: calc(100% - 36px);
  }
}
@media all and (min-width: $eleven-hundred) {

  .main-sidebar {
    padding: $baseline-height * 2 $column * 2;
  }
}