.social-media-icons {
  list-style: none;
  margin: $baseline-height 0 $baseline-height * .75;

  li {
    display: inline-block;
    text-align: center;
    margin: 0 $baseline-height / 4 $baseline-height / 4 0;
  }
  a {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: solid 1px $color-gray-90;
    border-radius: 50%;
    z-index: 9;
    color: $color-gray-40;
    transition: all 0.2s ease-in-out;

    &:link,
    &:visited {
      color: $color-gray-40;
      border-color: $color-gray-90;
    }
    &:hover,
    &:active,
    &:focus {
      color: white;
      outline: none;

      &:after {
        transform: scale(1);
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      transform: scale(0);
      z-index: -1;
      transition: all 0.2s ease-in-out;
    }
  }
}
@media all and (min-width: $eleven-hundred) {

  .social-media-icons {
    margin-top: $baseline-height * 1.5;
  }
}
.social-media-icons {

  .twitter {

    &:after {
      background: $twitter;
    }
  }
  .facebook {

    &:after {
      background: $facebook;
    }
  }
  .google-plus {

    &:after {
      background: $googleplus;
    }
  }
  .flickr {

    &:after {
      background: $flickr;
    }
  }
  .pinterest {

    &:after {
      background: $pinterest;
    }
  }
  .youtube {

    &:after {
      background: $youtube;
    }
  }
  .vimeo {

    &:after {
      background: $vimeo;
    }
  }
  .tumblr {

    &:after {
      background: $tumblr;
    }
  }
  .dribbble {

    &:after {
      background: $dribbble;
    }
  }
  .rss {

    &:after {
      background: $rss;
    }
  }
  .linkedin {

    &:after {
      background: $linkedin;
    }
  }
  .instagram {

    &:after {
      background: $instagram;
    }
  }
  .reddit {

    &:after {
      background: $reddit;
    }
  }
  .soundcloud {

    &:after {
      background: $soundcloud;
    }
  }
  .spotify {

    &:after {
      background: $spotify;
    }
  }
  .vine {

    &:after {
      background: $vine;
    }
  }
  .yahoo {

    &:after {
      background: $yahoo;
    }
  }
  .behance {

    &:after {
      background: $behance;
    }
  }
  .codepen {

    &:after {
      background: $codepen;
    }
  }
  .delicious {

    &:after {
      background: $delicious;
    }
  }
  .stumbleupon {

    &:after {
      background: $stumbleupon;
    }
  }
  .deviantart {

    &:after {
      background: $deviantart;
    }
  }
  .digg {

    &:after {
      background: $digg;
    }
  }
  .github {

    &:after {
      background: $github;
    }
  }
  .hacker-news {

    &:after {
      background: $hacker-news;
    }
  }
  .foursquare {

    &:after {
      background: $foursquare;
    }
  }
  .slack {

    &:after {
      background: $slack;
    }
  }
  .slideshare {

    &:after {
      background: $slideshare;
    }
  }
  .skype {

    &:after {
      background: $skype;
    }
  }
  .whatsapp {

    &:after {
      background: $whatsapp;
    }
  }
  .qq {

    &:after {
      background: $qq;
    }
  }
  .wechat {

    &:after {
      background: $wechat;
    }
  }
  .xing {

    &:after {
      background: $xing;
    }
  }
  .paypal {

    &:after {
      background: $paypal;
    }
  }
  .steam {

    &:after {
      background: $steam;
    }
  }
  .vk {

    &:after {
      background: $vk;
    }
  }
  .weibo {

    &:after {
      background: $weibo;
    }
  }
  .tencent-weibo {

    &:after {
      background: $tencent-weibo;
    }
  }
  .email,
  .email-form {

    &:after {
      background: $color-gray-40;
    }
  }
  .bandcamp {

    &:after {
      background: $bandcamp;
    }
  }
  .etsy {

    &:after {
      background: $etsy;
    }
  }
  .quora {

    &:after {
      background: $quora;
    }
  }
  .ravelry {

    &:after {
      background: $ravelry;
    }
  }
  .meetup {

    &:after {
      background: $meetup;
    }
  }
  .telegram {

    &:after {
      background: $telegram;
    }
  }
  .podcast {

    &:after {
      background: $podcast;
    }
  }
}