/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#sub-accordion-section-ct_cele_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}

.upgrades-ad {
  text-align: center;
  border-bottom: solid 1px #eee;
}
.upgrades-ad a {
  display: block;
  padding: 9px 0;
  color: white;
  background: #43b3c4;
  -webkit-transition: background 0.15s ease-in-out;
          transition: background 0.15s ease-in-out;
}
.upgrades-ad a:link, .upgrades-ad a:visited, .upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  color: white;
}
.upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  background: #3ea5b3;
}
.upgrades-ad a:hover span, .upgrades-ad a:active span, .upgrades-ad a:focus span {
  right: -3px;
}
.upgrades-ad span {
  position: relative;
  right: 0;
  -webkit-transition: right 0.15s ease-in-out;
          transition: right 0.15s ease-in-out;
}

#accordion-section-ct_cele_pro .accordion-section-title {
  color: #fff;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#accordion-section-ct_cele_pro .accordion-section-title:after {
  color: #fff;
}
#accordion-section-ct_cele_pro .accordion-section-title:hover, #accordion-section-ct_cele_pro .accordion-section-title:active, #accordion-section-ct_cele_pro .accordion-section-title:focus {
  background: #3A96B5 !important;
  color: #fff !important;
}
#accordion-section-ct_cele_pro .accordion-section-title:hover:after, #accordion-section-ct_cele_pro .accordion-section-title:active:after, #accordion-section-ct_cele_pro .accordion-section-title:focus:after {
  color: #fff !important;
}

#customize-control-cele_pro {
  background: white;
  border: solid 1px #E6E6E6;
  padding: 6px 24px;
  box-sizing: border-box;
}
#customize-control-cele_pro ul {
  list-style: disc;
  padding-left: 15px;
}
#customize-control-cele_pro img {
  position: relative;
  max-width: none;
  width: 273px;
  top: -6px;
  left: -24px;
  border-bottom: solid 1px #E6E6E6;
}
#customize-control-cele_pro .bold {
  font-weight: 600;
  font-size: 16px;
}
#customize-control-cele_pro .button-wrapper {
  text-align: center;
}
#customize-control-cele_pro .cele-pro-button {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 24px;
  margin: 12px auto;
  background: #FF931E;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#customize-control-cele_pro .cele-pro-button:before {
  content: '\f06e';
  font-family: 'FontAwesome';
  margin-right: 6px;
}
#customize-control-cele_pro .cele-pro-button:hover, #customize-control-cele_pro .cele-pro-button:active, #customize-control-cele_pro .cele-pro-button:focus {
  background: #FF8A23;
}
