/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1, .editor-post-title textarea {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

h2 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.333;
  /* 24px */
}

.wp-block-table figcaption {
  font-size: 0.875em;
  /* 14px / 16px */
  line-height: 1.714;
  /* 24px */
}

img figcaption,
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption,
.wp-block-image figcaption, .wp-caption-text,
.gallery-caption,
.wp-caption-dd {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  max-width: 755px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

p {
  margin: 1.5em 0;
}

a {
  position: relative;
  text-decoration: none;
  border-bottom: solid 1px #A5D3ED;
  color: #333333;
  transition: border-color 0.2s;
}
a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 100%;
  height: 1px;
  background: #333333;
  transition: right 0.2s ease-in-out;
}
a:hover, a:active, a:focus {
  border-color: #A5D3ED;
  outline: none;
}
a:hover:after, a:active:after, a:focus:after {
  right: 0;
}
a:visited:hover, a:visited:active, a:visited:focus {
  border-color: #E6E6E6;
}

h1, .editor-post-title textarea, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  background: #F0F0F0;
  white-space: pre-wrap;
  padding: 0.75em;
}

code {
  background: #F0F0F0;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #E6E6E6;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 1.5em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td,
th {
  padding: 0.75em;
  border: solid 1px #333333;
}

.wp-block-table {
  margin: 0;
}
.wp-block-table thead,
.wp-block-table tfoot {
  background: #FAFAFA;
}
.wp-block-table td,
.wp-block-table th {
  border-color: #E6E6E6;
}

.wp-block-table.is-style-stripes thead {
  background: none;
}
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: #E6E6E6;
}

.wp-block-table figcaption {
  margin: -12px 0 0 0;
  color: #333333;
  text-align: center;
}

/* Images */
.wp-block-image {
  margin: 0;
}

.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-block-image {
  max-width: 100%;
  height: auto;
}
img figcaption,
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption,
.wp-block-image figcaption {
  margin: 3px 0 0 0;
  color: #333333;
  text-align: center;
}

.wp-caption-text,
.gallery-caption,
.wp-caption-dd {
  margin: 3px 0 0 0;
  color: #333333;
  text-align: center;
}

@media all and (min-width: 50em) {
  h1, .editor-post-title textarea {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }

  h2 {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }

  h3 {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
.wp-block {
  max-width: 733px;
}

.editor-post-permalink__link {
  border: none;
}
.editor-post-permalink__link:after {
  display: none;
}

.editor-post-title textarea {
  color: #333333;
  outline: none;
  padding: 19px;
  font-family: "Open Sans", sans-serif;
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}

.wp-block-embed {
  margin: 1.5em 0;
}

.has-small-font-size {
  font-size: 12px;
}

.has-regular-font-size {
  font-size: 16px;
}

.has-large-font-size {
  font-size: 21px;
}

.has-extra-large-font-size {
  font-size: 28px;
}
